@import "./../../variables/variables";

button {
    padding: 5px;
    background-color: $button-color;
    border: 2px solid $purple;
    margin-right: 5px;
    border-radius: $border-radius;
}

button:hover {
    border: 2px solid $black-color;
    background-color: $blue-color;
}

button:focus {
    background-color: $grey-color;
}

button:active {
    background-color: $white;
    border: 2px solid $black-color;
}