<div class="courseCard">
    <div class="left">
        <h1>{{ courseItem.title }}</h1>
        <div class="description">{{ courseItem.description }}</div>
    </div>
    <div class="right">
        <p class="authors"><span class="subtitle">Authors:</span> {{ authorNames | stringJoiner}}</p>
        <p class="duration"><span class="subtitle">Duration:</span> {{ courseItem.duration | durationPipe }}</p>
        <p class="creationDate"><span class="subtitle">Created:</span> {{ courseItem.creationDate | creationDate }}</p>
        <ng-content></ng-content>
    </div>
</div>