@import "./../../../shared/variables/variables";

.courseCard {
    display: flex;
    margin: $padding-margin;
    padding: $padding-margin;
    border: 1px solid $card-border-color;
    border-radius: 10px;
    background-color: $bg-color;
}

.left {
    flex-basis: 70%;
    margin-right: $padding-margin;
}

.subtitle {
    font-weight: bold;
}