<app-course-card #course *ngFor="let course of courses; trackBy: trackById" [courseItem]="course" [authors]="authors">
    <app-button (click)="onShowCourseClick(course.id)">{{showCourseText}}</app-button>
    <ng-container *ngIf="isEditable">
        <app-button (click)="onEditCourseClick(course.id)">
            <fa-icon [icon]="faEdit"></fa-icon>
        </app-button>
        <app-button (click)="onDeleteCourseClick(course.id)">
            <fa-icon [icon]="faTrash"></fa-icon>
        </app-button>
    </ng-container>
</app-course-card>