<section class="sign-in">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
        <p>
            <label>Email</label>
            <br>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required appEmailValidation
                [class.has-error]="email.invalid && (email.dirty || email.touched)">
            <span
                [ngClass]="email.errors?.['required'] && (email.dirty || email.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Email is required
            </span>
            <span
                [ngClass]="email.errors?.['appEmailValidation'] && (email.dirty || email.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Email is invalid
            </span>
        </p>
        <p>
            <label>Password</label><br>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required
                [class.has-error]="email.invalid && (email.dirty || email.touched)">
            <span
                [ngClass]="password.errors?.['required'] && (password.dirty || password.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Password is required
            </span>
        </p>
        <p>
            <app-button type="submit">Login</app-button>
        </p>
    </form>
    <span class="error">{{loginError$ | async}}</span>
    <p>If you don't have an account, you can</p>
    <p>
        <a routerLink="/registration">Registration</a>
    </p>
</section>
<router-outlet></router-outlet>