<app-header *ngIf="isAuthorized$ | async">
    <div class="header-right">
        <p>{{name$ | async}}</p>
        <app-button (click)="logout()">Logout</app-button>
    </div>
</app-header>
<router-outlet></router-outlet>