@import "./../../shared/variables/variables";

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $padding-margin;
    border: 1px solid $light_red;
    padding: $padding-margin;

    img:hover {
        cursor: pointer;
    }
}