$card-border-color: rgb(0, 128, 0);
$bg-color: rgb(230, 230, 250);
$padding-margin: 1%;
$button-color: rgb(240, 245, 245);
$border-radius: 5px;
$black-color: rgb(0, 0, 0);
$grey-color: rgb(174, 174, 199);
$blue-color: rgb(144, 240, 240);
$light-grey-color: rgb(245, 245, 245);
$orange: rgba(243, 160, 86, 255);
$sand_color: rgba(249, 226, 158, 255);
$purple: rgba(211, 179, 241, 255);
$gray: rgba(148, 147, 147, 255);
$light_blue: rgba(164, 212, 239, 255);
$white: #fff;
$danger: #dc3545;
$light_red: rgba(241, 145, 145, 255);
$warning: rgb(255,153,102);