@import './../../../shared/variables/variables';

.course-form-page {
    border: 1px solid $light-blue;
    margin: $padding-margin;
    padding: $padding-margin;

    .has-error {
        border: 1px solid $danger !important;
    }

    form {
        width: 100%;

        textarea {
            border: 1px solid $sand-color;
            width: 100%;
            height: 200px;
            margin-top: 5px;
        }
    }

    span {
        font-size: 12px;
        color: $danger;
    }

    input {
        border: 1px solid $orange;
        width: 200px;
        padding: 5px;
        margin-top: 5px;
    }

    p {
        margin: 5px;
    }
}

.course-title {
    input {
        width: 75%;
        margin-right: 120px;
    }

    div {
        display: inline-block;
    }
}

.authors-container {
    border: 1px solid $gray;
    margin: 10px 5px;
    padding: $padding-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        text-align: center;
    }

    input {
        width: 90%;
    }

    .authors {
        flex-basis: 50%;

        p {
            margin-left: 0;
        }
    }

    .authors-list {
        flex-basis: 50%;

        div {
            display: flex;
            justify-content: space-between;
        }

        input {
            width: 150px;
            border: none;
        }
    }
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.author-name {
    font-size: 16px !important;
    color: $black-color !important;
}