<section class="course-form-page">
    <form *ngIf="course$ | async" [formGroup]="form" (ngSubmit)="onFormSubmit()" novalidate>
        <div class="course-title">
            <label>Title</label><br>
            <input type="text" formControlName="title"
                [class.has-error]="title.invalid && (title.dirty || title.touched)">
            <div>
                <app-button type="submit" [text]="shouldBeEditted ? editCourseText : createCourseText"></app-button>
                <app-button type="button" (click)="onCancelClick($event)">Cancel</app-button>
            </div>
            <span
                [ngClass]="title.errors?.['required'] && (title.dirty || title.touched || submitted === true) ? 'visible' : 'hidden'">
                Title is required
            </span>
        </div>
        <p>
            <label>Description</label><br>
            <textarea formControlName="description"
                [class.has-error]="description.invalid && (description.dirty || description.touched)">
            </textarea>
            <span
                [ngClass]="description.errors?.['required'] && (description.dirty || description.touched || submitted === true) ? 'visible' : 'hidden'">
                Description is required
            </span>
        </p>
        <div class="authors-container">
            <div class="authors">
                <div>
                    <h2>Add authors</h2>
                    <label>Author name</label><br>
                    <input type="text" formControlName="authorName"
                        [class.has-error]="authorName.invalid && (authorName.dirty || authorName.touched)">
                    <span
                        [ngClass]="authorName.errors?.['appAuthorValidation'] && (authorName.dirty || authorName.touched || authorSubmitted === true) ? 'visible' : 'hidden'">
                        <br>Author's name can only have numbers and Latin letters<br>
                    </span>
                    <span [ngClass]="!authorName.value && authorSubmitted ? 'visible' : 'hidden'">
                        <br>Author's name cannot be empty<br>
                    </span>
                    <app-button type="button" [text]="createAuthorText" (click)="addAuthor(authorName.value, $event)">
                    </app-button>
                </div>
                <div>
                    <h2>Duration</h2>
                    <label>Duration</label><br>
                    <input type="number" formControlName="duration"
                        [class.has-error]="title.invalid && (title.dirty || title.touched)">
                    <span
                        [ngClass]="duration.errors?.['required'] && (duration.dirty || duration.touched || submitted === true) ? 'visible' : 'hidden'">
                        <br>Duration is required
                    </span>
                    <span
                        [ngClass]="duration.errors?.['min'] && (duration.dirty || duration.touched || submitted === true) ? 'visible' : 'hidden'">
                        <br>Duration cannot be less than 0
                    </span>
                    <p>Duration: {{duration.value | durationPipe}}</p>
                </div>
            </div>
            <div class="authors-list" formArrayName="authors">
                <h2>Authors list</h2>
                <div *ngFor="let author of authors.value; let i = index; trackBy: trackById">
                    <span class="author-name">{{author.value.name}}</span>
                    <app-button type="button" [text]="deleteAuthorText"
                        (click)="deleteAuthor(author.value.id, i, $event)">
                    </app-button>
                </div>
            </div>
        </div>
    </form>
</section>