<div>
  <div *ngIf="isSingleCourseLoading$ | async" class="loader">Loading...</div>
  <h1>{{ (course$ | async)?.title }}</h1>
  <p>Description: {{ (course$ | async)?.description }}</p>
  <p>Creation Date: {{ (course$ | async)?.creationDate | creationDate }}</p>
  <p>Duration: {{(course$ | async)?.duration | durationPipe }}</p>
  <p>Authors: {{ getFormattedAuthors((course$ | async)?.authors) | stringJoiner }}</p>
</div>
<app-button (click)="onGoBackToCoursesClick()">Back to courses</app-button>