@import './../../shared/variables/variables';

.sign-in {
    border: 1px solid $light-blue;
    margin: $padding-margin;
    padding: $padding-margin;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        border: 1px solid $orange;
        width: 200px;
        padding: 5px;
        margin-top: 5px;
    }

    p {
        margin: 5px;

        span {
            font-size: 12px;
            color: $danger;
        }
    }
}

.has-error {
    border: 1px solid $danger !important;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.error {
    color: $danger;
}