<section class="sign-in">
    <h1>Registration</h1>
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <p>
            <label>Name</label><br>
            <input type="text" formControlName="name" [class.has-error]="name.invalid && (name.dirty || name.touched)">
            <span
                [ngClass]="name.errors?.['required'] && (name.dirty || name.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Name is required
            </span>
            <span
                [ngClass]="name.errors?.['minLength'] && (name.dirty || name.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Name should be longer than 6 symbols
            </span>
        </p>
        <p>
            <label>Email</label><br>
            <input type="email" formControlName="email"
                [class.has-error]="email.invalid && (email.dirty || email.touched)">
            <span
                [ngClass]="email.errors?.['required'] && (email.dirty || email.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Email is required
            </span>
            <span
                [ngClass]="email.errors?.['appEmailValidation'] && (email.dirty || email.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Email is invalid
            </span>
        </p>
        <p>
            <label>Password</label><br>
            <input type="password" formControlName="password"
                [class.has-error]="password.invalid && (password.dirty || password.touched)">
            <span
                [ngClass]="password.errors?.['required'] && (password.dirty || password.touched || submitted === true) ? 'visible' : 'hidden'">
                <br>Password is required
            </span>
        </p>
        <p>
            <app-button type="submit">Registration</app-button>
        </p>
    </form>
    <span class="error">{{registrationError$ | async}}</span>
    <p>If you have an account, you can
        <a routerLink="/login">Login</a>
    </p>
</section>
<router-outlet></router-outlet>