<app-search
    *ngIf="!(isCourseListEmpty$ | async)"
    (findCourse)="onFindCourse($event)"
    (clearSearch)="onClearSearch()"
    [shouldFilter]="shouldFilter"
></app-search>
<div *ngIf="isAllCoursesLoading$ | async" class="loader">Loading...</div>
<app-button
    id="add-course-btn"
    *ngIf="(editable$ | async) && !(isCourseListEmpty$ | async) && !shouldFilter" [text]="addCourseText"
    (click)="onAddCourseClick()"
></app-button>
<app-course-list
    *ngIf="!shouldFilter"
    [courses]="allCourses$ | async"
    [authors]="allAuthors$ | async"
    [isEditable]="editable$ | async"
    (onDeleteCourse)="onDeleteCourse($event)"
></app-course-list>
<app-course-list
    *ngIf="shouldFilter"
    [courses]="filteredCourses$ | async"
    [authors]="allAuthors$ | async"
    [isEditable]="editable$ | async"
    (onDeleteCourse)="onDeleteCourse($event)"
></app-course-list>
<app-info
    [title]="titleText"
    [text]="infoText"
    *ngIf="(editable$ | async) && isCourseListEmpty$ | async">
    <app-button [text]="addCourseText" (click)="onAddCourseClick()"></app-button>
</app-info>
<div
    class="empty"
    *ngIf="shouldFilter && !(filteredCourses$ | async).length">
    No courses found
</div>
<div
    class="empty"
    *ngIf="(editable$ | async) && (isCourseListEmpty$ | async)">
    No courses available for the moment
</div>
<router-outlet></router-outlet>