@import "./../../shared/variables/variables";
.loader {
    margin: $padding-margin;
    text-align: center;
}

#add-course-btn {
    display: block;
    text-align: center;
}

.empty {
    text-align: center;
    margin: 3%;
}