@import "./../../variables/variables";

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $padding-margin;

    .text-input {
        background-color: $light-grey-color;
        padding: 5px;
        border: 1px solid $orange;
        width: 800px;
        margin-right: 151px;
        margin-left: 10px;
    }
}

