<div class="search-form">
    <form #searchForm="ngForm">
        <label>Looking for...</label>
        <input type="text" name="search-course-input" class="text-input" [(ngModel)]="searchInput" #search>
        <app-button (click)="onSearchClick(search.value)">{{text}}</app-button>
        <app-button *ngIf="shouldFilter" (click)="onClearSearchClick()">Clear search</app-button>
    </form>
</div>